h1{
    text-align: center;
}

.gameDay_info{
    text-align: center;
    color: rgb(53, 50, 222);
}

.gameDate, .gameTime {
    text-align: center;
}

.homeBlock {
    text-align: center;
}

.awayBlock{
    text-align: center;
}

.homeTeam, .awayTeam {
    font-size: 25px;
    width: 250px;
    text-align: center;
}

.fistHomeTimeOut, .secondHomeTimeOut, .overTimeHomeTimeOut, .fistAwayTimeOut, .secondAwayTimeOut, .overTimeAwayTimeOut{
    width: 50px;
    height: 30px;
    text-align: center;
}

.homePlayerInfo {
    border: rgb(216, 233, 254) solid;
}

.awayPlayerInfo {
    border: rgb(65, 167, 245) solid;
}

.homePlaytimeCheckbox, .awayPlaytimeCheckbox{
    height: 20px;
    width: 20px;
}


.homeNum, .awayNum {
    text-align: center;
    color: green;
}


.homePlayerInfo, .awayPlayerInfo, .homePlayerStats, .homeScore, .awayScore{
    display: inline-table;
    vertical-align: bottom;
}

.homeInfoBlock {
    /* border: black solid; */
}

h3{
    display: inline;
    margin-left: .5em;
    margin-right: .5em;
}

td {
    text-align: center;
}

.homeScore, .awayScore{
    width: 145px;
    height: 268px;
}

.homeScoreBox, .awayScoreBox{
    border: black solid;
    width: 100px;
    height: 75px;
    text-align: center;
    font-size: 70px;
}

.homeFoulBox, .awayFoulBox {
    border: black solid;
    width: 70px;
    height: 50px;
    text-align: center;
    font-size: 38px;
}

.scoreBox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    padding-top: 20px;
}

.homeTeamFouls, .homeTeamScore {
    color: rgb(33, 100, 201);
}

.awayTeamFouls, .awayTeamScore {
    color: rgb(124, 183, 234);
}
