h1{
    text-align: center;
}

.gameDay_info{
    text-align: center;
    color: rgb(53, 50, 222);
}

.gameDate, .gameTime {
    text-align: center;
}

.homeBlock {
    text-align: center;
}

.awayBlock{
    text-align: center;
}

.homeTeam, .awayTeam {
    font-size: 30px;
    width: 250px;
    text-align: center;
}

.fistHomeTimeOut, .secondHomeTimeOut, .fistAwayTimeOut, .secondAwayTimeOut{
    width: 50px;
    text-align: center;
}

.homePlayerInfo {
    border: blue solid;
}

.awayPlayerInfo {
    border: red solid;
}


.homeNum, .awayNum {
    text-align: center;
    color: green;
}


.homePlayerInfo, .awayPlayerInfo, .homePlayerStats, .homeScore, .awayScore{
    display: inline-table;
    vertical-align: bottom;
}

.homeInfoBlock {
    /* border: black solid; */
}

h3{
    display: inline;
    margin-left: .5em;
    margin-right: .5em;
}

td {
    text-align: center;
}

.homeScore, .awayScore{
    width: 160px;
    height: 268px;
}

.homeScoreBox, .awayScoreBox{
    border: black solid;
    width: 120px;
    height: 75px;
    text-align: center;
    font-size: 70px;
}

.homeFoulBox, .awayFoulBox {
    border: black solid;
    width: 70px;
    height: 50px;
    text-align: center;
    font-size: 38px;
}

.scoreBox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    padding-top: 20px;
}

.homeTeamFouls, .homeTeamScore {
    color: blue;
}

.awayTeamFouls, .awayTeamScore {
    color: red;
}
