h1{
    text-align: center;
}

.gameDay_info{
    text-align: center;
    color: blue;
}

.gameDate, .gameTime {
    text-align: center;
}

.homeBlock{
    text-align: center;
}

.homeTeam {
    font-size: 30px;
    width: 250px;
    text-align: center;
}

.fistHomeTimeOut, .secondHomeTimeOut{
    width: 50px;
    text-align: center;
}

.homePlayerInfo {
    border: blue solid;
}

.homeNum {
    text-align: center;
}


.homePlayerInfo, .homePlayerStats, .homeScore, .testTable{
    display: inline-table;
    vertical-align: bottom;
}

.homeInfoBlock {
    /* border: black solid; */
}

h3{
    display: inline;
    margin-left: .5em;
    margin-right: .5em;
}

td {
    text-align: center;
}
